<h1>{{title}}</h1>
{{!-- <p>{{title}} is a platform where you can have a list of your favorite albums</p> --}}

{{#if notificacion}}
<h1>{{notificacion}}</h1>
{{/if}}

{{#if albums}}
    <h2>Your favorite albums: </h2>
    <div class="row">
            {{#each albums}}
            <div class="col-md-2 mb-4 pr-md-4">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <img src="{{changeImageUrl artworkUrl100}}" alt="Album Art" class="card-img-top">
                        <div>
                            <h5 class="card-title">{{truncateText collectionName 30}}</h5>
                            <p class="card-text">{{truncateText artistName 30}}</p>
                            <p class="card-text">Genre: {{primaryGenreName}}</p>
                            <p class="card-text">Price: {{collectionPrice}}</p>
                        </div>
                        <form action="/likeAlbum" method="post">
                            <input type="hidden" name="albumId" value="{{this.collectionId}}">
                            <input type="hidden" name="collectionName" value="{{this.collectionName}}">
                            <input type="hidden" name="artworkUrl100" value="{{this.artworkUrl100}}">
                            <input type="hidden" name="artistName" value="{{this.artistName}}">
                            <input type="hidden" name="collectionPrice" value="{{this.collectionPrice}}">
                            <input type="hidden" name="primaryGenreName" value="{{this.primaryGenreName}}">
                            <input type="hidden" name="fromProfile" value="true">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-heart"></i> Quitar me gusta</button>
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <p>You dont have any favorite album, try adding someones!</p>
{{/if}}
